.form {
  padding: 40px;

  // .form__body

  &__body {
    border: none;
    padding: 0;
    margin: 0;
  }

  // .form__title

  &__title {
    margin-bottom: 12px;

    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(30 / 20);
    letter-spacing: 0.03em;
  }

  // .form__group

  &__group {
    & > *:not(:last-child) {
      margin-bottom: 10px;
    }

    margin-bottom: 20px;
  }

  // .form__set

  &__set {
    & > *:not(:last-child) {
      margin-bottom: 4px;
    }

    // .form__set--user

    &--user {
    }

    // .form__set--phone

    &--phone {
    }

    // .form__set--email

    &--email {
    }

    // .form__set--textarea

    &--textarea {
    }
  }

  // .form__label

  &__label {
    display: inline-block;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    // .form__label--user

    &--user {
    }

    // .form__label--phone

    &--phone {
    }

    // .form__label--email

    &--email {
    }

    // .form__label--textarea

    &--textarea {
    }
  }

  // .form__thumb

  &__thumb {
    position: relative;
  }

  // .form__input

  &__input {
    display: block;
    width: 100%;
    min-height: 40px;
    padding: 0 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:focus {
      outline: none;
      border-color: $accentColor;
    }
    // .form__input--user

    &--user {
    }

    // .form__input--phone

    &--phone {
    }

    // .form__input--email

    &--email {
    }

    // .form__input--textarea

    &--textarea {
      height: 120px;
      resize: none;
      padding: 12px 16px;

      &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
      }
    }
  }

  // .form__icon

  &__icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);

    transition: fill $transitionTiming;

    fill: $mainTextColor;

    .form__input:focus + & {
      fill: $accentColor;
    }
  }

  // .form__checkbox-set

  &__checkbox-set {
    @media (min-width: 1200px) {
      display: flex;
      justify-content: center;
    }

    margin-bottom: 30px;

    text-align: left;
  }

  // .form__checkbox-text

  &__checkbox-text {
    position: relative;
    column-gap: 8px;
    @media (max-width: 1199px) {
      font-size: 12px;
      line-height: math.div(14, 12);
    }
    @media (min-width: 1200px) {
      font-size: 14px;
      line-height: math.div(24, 14);
    }
  }

  // .form__checkbox

  &__checkbox {
  }

  // .form__checkbox-icon

  &__checkbox-icon {
    position: relative;
    @media (max-width: 1199px) {
      bottom: 2px;
    }
    @media (min-width: 1200px) {
      bottom: -2px;
      margin-right: 9px;
    }
    flex: 1 0 auto;
    border: 2px solid $mainTextColor;
    border-radius: 2px;

    cursor: pointer;

    transition: fill $transitionTiming, background-color $transitionTiming,
      border-color $transitionTiming;

    fill: transparent;

    .form__checkbox:checked + & {
      fill: $basicWhite;
      background-color: $accentColor;
      border-color: $accentColor;
    }
  }

  // .form__checkbox-link

  &__checkbox-link {
    text-underline-position: under;
    color: $accentColor;
  }

  // .form__btn-box

  &__btn-box {
    text-align: center;
  }

  // .form__btn

  &__btn {
    @include modifierButton(16);

    min-width: 200px;
    min-height: 50px;
  }
}
