// Colors

$mainTextColor: #212121;
$secondaryTextColor: #757575;
$accentColor: #2196f3;
$activeBtnColor: #188ce8;
$secodaryBgColor: #f5f4fa;
$footerBgColor: #2f303a;
$basicWhite: #ffffff;
$basicBlack: #000000;
$unactiveLink: #afb1b8;

// Fonts

$Roboto: "Roboto";
$Raleway: "Raleway";

// Transition

$transitionTiming: 250ms cubic-bezier(0.4, 0, 0.2, 1);
